label{
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;

}
label::after{
    content: "😣";
    color: currentColor;
}
label:first-of-type::before{
    content: "🥺";
}
button{
    background-color: blueviolet;
    padding: 20px 40px;
}